<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<p>
  <strong>Discussion:</strong>
  <% @article.discussions.each do |p| %>
  <p><%= p.comment %><p>
  <p><%= link_to "show comment", article_discussion_path(@article, p) %><p>
  <p><%= link_to "edit comment", edit_article_discussion_path(@article, p)  %><p>
  <p><%= link_to "delete comment", [@article, p], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</p>

<p>
	<%= link_to "New discussion", new_article_discussion_path(@article) %>
</p>
<p>

<% if @article.user == current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>  
<%= link_to 'Back', articles_path %>
